body>#bg {
    height: 141%;
    width: 100%;
    background: rgb(255, 175, 0);
    background: linear-gradient( 48deg, rgba(255, 219, 140, 0.24) 0%, rgba(160, 182, 255, 0.192) 100%);
    clip-path: polygon(32% 0, 100% 0, 100% 33%, 59% 100%, 0 100%, 0 59%);
    position: absolute;
    z-index: -1;
}

body {
    background: linear-gradient( 48deg, rgba(255, 79, 79, 0.4682247899159664) 0%, rgba(88, 97, 255, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 50;
    margin: 0;
}

nav {
    margin: 1px auto 0;
    position: relative;
    width: 470px;
    height: 45px;
    background: rgba(0, 51, 255, 0.452);
    background: linear-gradient( 65deg, rgba(0, 51, 255, 0.253) 0%, rgba(255, 147, 65, 0.432) 100%);
    border-radius: 500px;
    font-size: 0;
    border: 2.5px solid rgba(255, 0, 0, 0);
    transition: border 0.5s;
}

nav a {
    line-height: 50px;
    height: 100%;
    border-radius: 500px;
    font-size: 13px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}

a:nth-child(3) {
    width: 100px;
}

a:nth-child(4) {
    width: 160px;
}

a:nth-child(5) {
    width: 120px;
}

nav:hover {
    border: 2.5px solid rgba(0, 105, 175, 0.658);
    transition: border 0.5s;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    border-radius: 500px;
    background-color: #7bff0081;
}

nav .start-code,
a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    border-radius: 500px;
    background-color: #e7643c7e;
}

nav .start-updates,
a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    border-radius: 500px;
    background-color: #2995dd88;
}

nav .start-developers,
a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    border-radius: 500px;
    background-color: #ff99006e;
}

#fistline {
    text-align: center;
    position: relative;
    font-size: 80px;
    top: 0px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 5px;
    animation: colorRotate 16s linear 0s infinite;
}

@keyframes colorRotate {
    from {
        color: #ff3d3d;
    }
    50% {
        color: #ffc400;
    }
    100% {
        color: #ff3d3d;
    }
}

#fistline:hover {
    font-size: 83px;
    transition: font-size 1s;
}

#fistline:not(:hover) {
    font-size: 80px;
    transition: font-size .5s;
}

#name {
    font-size: 55px;
    position: relative;
    text-align: center;
    left: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 5px;
    animation: colorRotate 16s linear 0s infinite;
}

#name:hover {
    font-size: 83px;
    transition: font-size 1s;
}

#name:not(:hover) {
    font-size: 80px;
    transition: font-size .5s;
}

#secondline {
    color: white;
    font-size: 40px;
    text-align: center;
    top: -80px;
    left: 100px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#kemal {
    font-weight: 500;
    font-style: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: inline;
    letter-spacing: 5px;
    animation: colorRotate 16s linear 0s infinite;
}

.fist_p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.568);
}

.updateText {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.904);
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.568);
}

.bigText {
    font-size: 25px;
}

.listUpdate {
    font-size: 25px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
