html{
  height: 150%;
}

body > #bg {
  height: 100%;
  width: 100%;
  background: rgb(255,175,0);
  background: linear-gradient(
    48deg, 
    rgba(255, 219, 140, 0.24) 0%, 
    rgba(160, 182, 255, 0.192) 100%
  );


  clip-path: polygon(32% 0, 100% 0, 100% 33%, 59% 100%, 0 100%, 0 59%);
  position: absolute;
  z-index: -1;
  animation: fadeIn linear 2s;


}


body {
  

  background: linear-gradient(
    48deg, 
    rgba(255,79,79,0.4682247899159664) 0%,  
    rgba(88,97,255,1) 100%
    );

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 50;
    margin: 0;
    animation: fadeIn linear 2s;
    
  }



/* 
  this for the taskbar */
  .topnav {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.137);
    display: flex;
    position: sticky; 
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    position: sticky; 
  }
  
  .topnav a:hover {
    background-color:#99aab5;
    color: black;
    display: flex;
    position: sticky; 
  }
  
  .topnav a.active {
    background-color: #0084ff86;
    color: white;
    display: flex;
    position: sticky; 
  }

  #enter {
    animation-name: movein;
    animation-duration: 4s;
    animation-delay: 2s;
  }

  @keyframes movein {
      
  }

  #fistline {
    text-align: center;
    font-size: 80px;
    position: relative;
    top: 0px;
    text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;   
    animation: fadeIn linear 2s;
      letter-spacing: 5px;
      animation: colorRotate 16s linear 0s infinite;
    }
    
  @keyframes colorRotate {
    from {
      color: #ff6666;
    }
    50% {
      color: #ffc400;
    }
    100% {
      color: #ff3d3d;
    }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

  #name {
    font-size: 55px;
    position: relative;
    text-align: center;
    left: 25px;
    text-shadow: -1px -1px 0 #000,
                  1px -1px 0 #000,
                  -1px 1px 0 #000,
                  1px 1px 0 #000;
    animation: fadeIn linear 2s;
    animation: fadeIn linear 2s;
    letter-spacing: 5px;
    animation: colorRotate 16s linear 0s infinite;
  }
  

  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  #secondline {
    color: white;
    font-size: 40px;
    text-align: center;
    top: -80px;
    left: 100px;  
    animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

  #fistp {
    text-align: center;
    font-weight: 50;
  }

  #kemal{
      font-weight: 500;
      font-style: bold;
      text-shadow: -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;
      display:inline;
      animation: fadeIn linear 2s;
      animation: fadeIn linear 2s;
      letter-spacing: 5px;
      animation: colorRotate 16s linear 0s infinite;
    }

  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


#side_left
{
  position: absolute;
  top: 0px;
  left: 0px;
}

.down{
  position:fixed;
  bottom:0px;
  right:50%;
}
